{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="icon" size="192x192" href="{% static "images/logo.png" %}">
		<title>ताpman देkh लoo.com</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{% static "fonts/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static "style.css" %}">
		
		
		<script src="static/js/ie-support/html5.js"></script>
		<script src="static/js/ie-support/respond.js"></script>
		

	</head>


	<body>
		
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="" class="branding">
						<img src="{% static "images/logo.png" %}" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">ताpman देkh लoo.com</h1>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="">Home</a></li>
							{% if 'submit' in request.path%}
							<li class="menu-item"><a href="submit/livephotos">Photos</a></li>
							{% else%}
							<li class="menu-item"><a href="livephotos">Photos</a></li>
							{% endif %}
							<li class="menu-item"><a href="contact.html">Contact</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

			<div class="hero" data-bg-image="{% static "images/banner.png" %}" >
				<div class="container">

						{%for message in messages%}
						 <div style=" padding-left: 20px; font-weight:700px ; padding-bottom:0px; margin:0px; text-transform:capitalize;">
							<ul>
								<li>{{message}}</li>
							</ul>
							
						 </div>
						 {% endfor %}
					<form action="submit" method="POST" class="find-location">
						{%csrf_token%}
						{{form}}
						
						<input type="submit" value="Find">
					</form>

				</div>
			</div>
			<div class="forecast-table">
				<div class="container">
					
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day">{{date}}</div>
								<div class="date">{{time}}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								{%if 'submit' in request.path%}
								<div class="location">{{weather_data.city}}</div>
								{%else%}
								<div class="location">{{city}},{{region}}</div>
								{%endif %}
								<div class="degree">
									<div class="num">{{ weather_data.temp}}<sup>o</sup>C</div>
									<div style="display: inline-block; vertical-align:middle;" class="forecast-icon">
										<div style="margin:auto; height:70px; display: block; padding:0px 0px 0px 0px;">
											<img style="padding-top:0px; margin:auto; "src="http://openweathermap.org/img/w/{{weather_data.icon}}.png" alt="" width=100>
										</div>
										<span style="font-size: 16px; color:rgba(255, 255, 255, 0.5); font-weight: 500; height:60px; display: block; text-align:center; margin:0px; padding-top:0px; text-transform:capitalize" class="description"><small>{{weather_data.description}}</small></span>
									</div>	
								</div>
								<span style="text-transform:capitalize ;">max : {{weather_data.temp_max}}<sup>o</sup>C</span>
								<span style="text-transform: capitalize;">min : {{weather_data.temp_min}}<sup>o</sup>C</span>
								<span style="text-transform: capitalize;">feels like {{weather_data.feels_like}}<sup>o</sup>C</span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Tuesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="{% static "images/icons/icon-3.svg" %}"  alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Wednesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="{% static "images/icons/icon-5.svg" %}" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Thursday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="{% static "images/icons/icon-7.svg" %}"  alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Friday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="{% static "images/icons/icon-12.svg" %}" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Saturday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="{% static "images/icons/icon-13.svg" %}" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Sunday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="{% static "images/icons/icon-14.svg" %}" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title">Live Photos</h2>
						<div class="row">
							{%for value in photo %}
								
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<figure class="live-camera-cover"><img style =" height:300px; width:300px;"src={{value}}  alt=""></figure>
								</div>
							</div>
								
							{% endfor %}
						</div>
					</div>
				</div>

				

				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<h2 class="section-title">Application features</h2>
								<ul class="arrow-feature">
									<li>
										<h3>Natus error sit voluptatem accusantium</h3>
										<p>Doloremque laudantium totam rem aperiam Inventore veritatis et quasi architecto beatae vitae.</p>
									</li>
									<li>
										<h3>Natus error sit voluptatem accusantium</h3>
										<p>Doloremque laudantium totam rem aperiam Inventore veritatis et quasi architecto beatae vitae.</p>
									</li>
									<li>
										<h3>Natus error sit voluptatem accusantium</h3>
										<p>Doloremque laudantium totam rem aperiam Inventore veritatis et quasi architecto beatae vitae.</p>
									</li>
								</ul>
							</div>
							<div class="col-md-4">
								<h2 class="section-title">Weather analyssis</h2>
								<ul class="arrow-list">
									<li><a href="#">Accusantium doloremque laudantium rem aperiam</a></li>
									<li><a href="#">Eaque ipsa quae ab illo inventore veritatis quasi</a></li>
									<li><a href="#">Architecto beatae vitae dicta sunt explicabo</a></li>
									<li><a href="#">Nemo enim ipsam voluptatem quia voluptas</a></li>
									<li><a href="#">Aspernatur aut odit aut fugit, sed quia consequuntur</a></li>
									<li><a href="#">Magni dolores eos qui ratione voluptatem sequi</a></li>
									<li><a href="#">Neque porro quisquam est qui dolorem ipsum quia</a></li>
								</ul>
							</div>
							<div class="col-md-4">
								<h2 class="section-title">Awesome Photos</h2>
								<div class="photo-grid">
									{% for value in photos %}
									<a href="#"><img style="height:100px; width:100px;" src="{{value}}" alt=""></a>
									{% endfor%}
								</div>
							</div>
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<form action="#" class="subscribe-form">
								<input type="text" placeholder="Enter your email to subscribe...">
								<input type="submit" value="Subscribe">
							</form>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<div class="social-links">
								<a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
								<a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
								<a href="http://www.googleplus.com"><i class="fa fa-google-plus"></i></a>
								<a href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
					</div>

					<p class="colophon">Copyright 2014 ताpman देkh लoo.com. All rights reserved</p>
				</div>
			</footer> <!-- .site-footer -->
		</div>
		
		<script src="{% static "js/jquery-1.11.1.min.js" %}" ></script>
		<script src="{% static "js/plugins.js" %}" ></script>
		<script src="{% static "js/app.js"  %}"></script>
		
	</body>

</html>